.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
header nav {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
  text-decoration: none;
  background-color: #d7dbbfd5;
  padding: 1rem;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.navlink {
  text-decoration: none;
  color: black;
  border-radius: 10px;
  padding: 10px;
}
.navlink:hover {
  background-color: black;
  color: whitesmoke;
  transition: 0.5s;
}
img{
  height: 100px;
}
.div-link{
  display: flex;
  justify-content: center;
  column-gap: 10rem;
  margin: auto 0;
}

